<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800030455108-h4ocsupop2g9220j04afimqriod65gmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800030455108-h4ocsupop2g9220j04afimqriod65gmq</string>
	<key>API_KEY</key>
	<string>AIzaSyAjCOOZg5huZsT4SFna-22ucEU-mScIvuU</string>
	<key>GCM_SENDER_ID</key>
	<string>800030455108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PlayHoboken</string>
	<key>PROJECT_ID</key>
	<string>playhobokenapp</string>
	<key>STORAGE_BUCKET</key>
	<string>playhobokenapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800030455108:ios:e8bf57f0471f23a0e99311</string>
	<key>DATABASE_URL</key>
	<string>https://playhobokenapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>